a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav__links{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartwidget__link{
  width: 85.44px;
  height: 36.5px;
}
.nav__brand{
  display: flex;
  justify-content: left;
}
.nav__brand h2 {
  color: white;
  font-weight: 400;
  margin: 0px;
}
.nav__brand h2 span {
  font-weight: bold;
}

