nav {
    padding: 0.7rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav h2 {
    color: white;
    font-weight: 400;
  }
  
  nav h2 span {
    font-weight: bold;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  nav .links {
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.5s ease;
    width: 355px;
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }
  
  nav .links a {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  @media (min-width: 768px) {
    nav .links {
      position: initial;
      margin: 0;
    }
  
    nav .links a {
      font-size: 1rem;
      color: white;
      display: inline;
    }
  }
  
  nav .links.active {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  nav .links.active a {
    font-size: 2rem;
    margin-top: 1rem;
    color: white;
  }
  
  nav .burguer {
    display: none;
  }
  
  @media (min-width: 768px) {
    nav .burguer {
      display: none;
    }
  }
  